body {
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 0.04em;
  
  color: var(--white);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
