:root {
  --title-text-color: #ffa5ba;
  --accent-color: #d41443;
  --products-color-pink: #ffb8ca;
  --products-color-beige: #f0d1a5;
  --products-color-green: #c2e297;
  --tablet-menu-color: #e17992;
  --white: #ffffff;
  --black: #000000;
  --grey: #907e82;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #fff5f6;
  --thumb-reviews-color: #fafafa;
  --thumb-border-color: #e1e1e1;
  --button-hover-light: #ecebeb;
  --button-hover-dark: #c7133e;
}
