:root {
  --title-text-color: #ffa5ba;
  --accent-color: #d41443;
  --products-color-pink: #ffb8ca;
  --products-color-beige: #f0d1a5;
  --products-color-green: #c2e297;
  --tablet-menu-color: #e17992;
  --white: #ffffff;
  --black: #000000;
  --grey: #907e82;
}