<section class="advantages section-color">
    <div class="container">
        <ul class="advantages box">
            <li class="advantages__list">
                <img src="./images/its_made/icon1.png" class="advantages__img" alt="bucket of milk">
                <p class="advantages__title">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__list">
                <img src="./images/its_made/icon2.png" class="advantages__img" alt="bucket of apple">
                <p class="advantages__title">16kg</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__list">
                <img src="./images/its_made/icon3.png" class="advantages__img" alt="ice-cream heart">
                <p class="advantages__title">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>   
    </div>
</section>