<section class="container contacts" id="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <!-- HIDE H2 -->
  <ul class="list contacts__list">
    <li class="contacts__card-set">
      <div class="contacts__thumb">
        <h3 class="contacts__title">CAFE</h3>
        <h4 class="contacts__subtitle">Chicago</h4>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="contacts__thumb">
        <div class="contacts__date-card-work-week">
          <p class="contacts__date">Monday - Friday</p>
          <p class="contacts__date-time">06:00 AM - 10:00 PM</p>
        </div>

        <div class="contacts__date-card-chill-day"></div>
        <p class="contacts__date">Saturday - Sunday</p>
        <p class="contacts__date-time">08:00 AM - 16:00 PM</p>
      </div>
      <div class="contacts__thumb">
        <a class="link contacts__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="link contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>

    <li class="contacts__card-set">
      <div class="contacts__thumb">
        <h3 class="contacts__title contacts__title-even">FOOD TRUCK</h3>
        <h4 class="contacts__subtitle">Los Angeles</h4>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="contacts__thumb">
        <div class="contacts__date-card-work-week">
          <p class="contacts__date">Monday - Friday</p>
          <p class="contacts__date-time">06:00 AM - 10:00 PM</p>
        </div>

        <div class="contacts__date-card-chill-day"></div>
        <p class="contacts__date">Saturday - Sunday</p>
        <p class="contacts__date-time">08:00 AM - 16:00 PM</p>
      </div>
      <div class="contacts__thumb">
        <a class="link contacts__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="link contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>

    <li class="contacts__card-set">
      <div class="contacts__thumb">
        <h3 class="contacts__title">CAFE</h3>
        <h4 class="contacts__subtitle">New York</h4>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="contacts__thumb">
        <div class="contacts__date-card-work-week">
          <p class="contacts__date">Monday - Friday</p>
          <p class="contacts__date-time">06:00 AM - 10:00 PM</p>
        </div>

        <div class="contacts__date-card-chill-day"></div>
        <p class="contacts__date">Saturday - Sunday</p>
        <p class="contacts__date-time">08:00 AM - 16:00 PM</p>
      </div>
      <div class="contacts__thumb">
        <a class="link contacts__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="link contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>
  </ul>
  <ul class="list contacts__buttons-list">
    <li>
      <button class="button contacts__button contacts__button-our-location">Our Locations</button>
    </li>
    <li>
      <button class="button contacts__button contacts__button-franchise">Franchise</button>
    </li>
  </ul>
</section>
