<section class="container contacts" id="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <!-- HIDE H2 -->
  <ul class="list contacts__list">
    <li class="contacts__card-set">
      <div class="contacts__thumb">
        <h3 class="contacts__title">CAFE</h3>
        <h4 class="contacts__subtitle">Chicago</h4>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="contacts__thumb">
        <div class="contacts__date-card-work-week">
          <p class="contacts__date">Monday - Friday</p>
          <p class="contacts__date-time">06:00 AM - 10:00 PM</p>
        </div>

        <div class="contacts__date-card-chill-day"></div>
        <p class="contacts__date">Saturday - Sunday</p>
        <p class="contacts__date-time">08:00 AM - 16:00 PM</p>
      </div>
      <div class="contacts__thumb contacts__thumb-contact">
        <a class="link contacts__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="link contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>

    <li class="contacts__card-set">
      <div class="contacts__thumb">
        <h3 class="contacts__title contacts__title-even">FOOD TRUCK</h3>
        <h4 class="contacts__subtitle">Los Angeles</h4>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="contacts__thumb">
        <div class="contacts__date-card-work-week">
          <p class="contacts__date">Monday - Friday</p>
          <p class="contacts__date-time">06:00 AM - 10:00 PM</p>
        </div>

        <div class="contacts__date-card-chill-day"></div>
        <p class="contacts__date">Saturday - Sunday</p>
        <p class="contacts__date-time">08:00 AM - 16:00 PM</p>
      </div>
      <div class="contacts__thumb contacts__thumb-contact">
        <a class="link contacts__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="link contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>

    <li class="contacts__card-set">
      <div class="contacts__thumb">
        <h3 class="contacts__title">CAFE</h3>
        <h4 class="contacts__subtitle">New York</h4>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="contacts__thumb">
        <div class="contacts__date-card-work-week">
          <p class="contacts__date">Monday - Friday</p>
          <p class="contacts__date-time">06:00 AM - 10:00 PM</p>
        </div>

        <div class="contacts__date-card-chill-day"></div>
        <p class="contacts__date">Saturday - Sunday</p>
        <p class="contacts__date-time">08:00 AM - 16:00 PM</p>
      </div>
      <div class="contacts__thumb contacts__thumb-contact">
        <a class="link contacts__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="link contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>
  </ul>
  <ul class="list contacts__buttons-list">
    <li class="button-location">
      <button class="button contacts__button contacts__button-our-location" id="ourLocations">
        Our Locations
        <svg class="contacts__icon-arrow-right">
          <use href="./images/sprite.svg#btn-icon"></use>
        </svg>
      </button>
      <ul class="list myDrop" id="myDropDown">
        <li class="city-maps" id="cityMaps">
          Chicago
          <div class="my-modal" id="myModal">
            <div class="modal-maps">
              <span class="close" id="closeChicago">
                <svg class="close__icon">
                  <use href="./images/sprite.svg#close-icon"></use>
                </svg>
              </span>
              <ul class="modal-list list">
                <li class="modal-list__item">
                  <button class="button-close" type="button" id="buttonClose">
                    <svg class="button-close__icon" width="18" height="18">
                      <use href="./images/sprite.svg#close-icon"></use>
                    </svg>
                  </button>
                  <p class="modal-list__city">Chicago</p>
                </li>
                <li>
                  <iframe
                    class="maps"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190255.33858021462!2d-87.87204812719675!3d41.83390366737463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1621853561529!5m2!1sru!2sua"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                  >
                  </iframe>
                </li>
                <li class="modal-list__item">
                  <a
                    class="modal-link link"
                    href="https://www.google.com.ua/maps/dir/41.9169858,-87.8624351/%D0%A7%D0%B8%D0%BA%D0%B0%D0%B3%D0%BE,+%D0%98%D0%BB%D0%BB%D0%B8%D0%BD%D0%BE%D0%B9%D1%81,+%D0%A1%D0%A8%D0%90/@41.9024124,-87.8169941,12z/am=t/data=!4m9!4m8!1m0!1m5!1m1!1s0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000!2m2!1d-87.6297982!2d41.8781136!3e0?hl=ru"
                    target="_blank"
                    >Show Route</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="city-maps" id="cityMapss">
          New-York
          <div class="my-modal" id="myModall">
            <div class="modal-maps">
              <ul class="modal-list list">
                <li class="modal-list__item">
                  <button class="button-close" type="button" id="buttonCloseNew">
                    <svg class="button-close__icon" width="18" height="18">
                      <use href="./images/sprite.svg#close-icon"></use>
                    </svg>
                  </button>
                  <p class="modal-list__city">New-York</p>
                </li>
                <li>
                  <iframe
                    class="maps"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115581.14312497983!2d-74.13264877635989!3d40.735446460237526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1621964418259!5m2!1sru!2sua"
                    width="600"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                  >
                  </iframe>
                </li>
                <li class="modal-list__item">
                  <a
                    class="modal-link link"
                    href="https://goo.gl/maps/nDou4hLn8P1kZftBA"
                    target="_blank"
                    >Show Route</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="city-maps" id="cityMapsss">
          Los Angeles
          <div class="my-modal" id="myModalll">
            <div class="modal-maps">
              <ul class="modal-list list">
                <li class="modal-list__item">
                  <button class="button-close" type="button" id="buttonCloseLos">
                    <svg class="button-close__icon" width="18" height="18">
                      <use href="./images/sprite.svg#close-icon"></use>
                    </svg>
                  </button>
                  <p class="modal-list__city">Los Angeles</p>
                </li>
                <li>
                  <iframe
                    class="maps"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d164620.01431287706!2d-118.43188552962403!3d34.079932191642726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1621964566193!5m2!1sru!2sua"
                    width="600"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                  >
                  </iframe>
                </li>
                <li class="modal-list__item">
                  <a
                    class="modal-link link"
                    href="https://goo.gl/maps/qxU95k8q7jbr2jpR7"
                    target="_blank"
                    >Show Route</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <button class="button contacts__button contacts__button-franchise" data-modal-open>
        Franchise
        <svg class="contacts__icon-arrow-right">
          <use href="./images/sprite.svg#btn-icon"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
