<section class="customer-reviews customer-reviews__section">
  <h2 class="customer-reviews__title visually-hidden">Customer reviews</h2>
  <div class="container container-wrap">
    <div class="container-wrap__item">
      <img class="container-wrap__img" src="./images/reviews/user1.svg" alt="user" />
      <div class="container-wrap__thumb-reviews">
        <p class="container-wrap__text-reviews">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>

      <p class="container-wrap__text">Emily, Los Angeles</p>
    </div>
  </div>
</section>
