<footer class="footer" id="footer">
  <div class="container footer__own-thumb">
    <div class="footer__titles-thumb">
      <p class="footer__title">homemade ice cream made</p>
      <p class="footer__subtitle">with passion</p>
    </div>
    <div class="footer__right-side-thumb">
      <ul class="list social-list">
        <li class="social-list__items">
          <a class="link social-list__link" href="https://github.com/">
            <svg class="social-list__icon">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li class="social-list__items">
          <a class="link social-list__link" href="https://web.telegram.org/">
            <svg class="social-list__icon">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>

        <li class="social-list__items">
          <a class="link social-list__link" href="https://facebook.com/">
            <svg class="social-list__icon">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="footer__tel-number">
        <p>
          Feel free to contact
          <a class="link footer__tel-number_disagn" href="tel:+61(0)383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </address>
    </div>
  </div>
  <div class="footer__decoration-line">
    <p class="footer__copyright">&copy;&nbsp;2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
