<section class="gallery line-gradient">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container">
    <picture>
      <source srcset="
          ./images/gallery/des/webp/galldes-1x.webp 1x,
          ./images/gallery/des/webp/galldes-2x.webp 2x
        " media="(min-width: 1280px)" type="image/webp" />
      <source srcset="./images/gallery/des/galldes-1x.png 1x, ./images/gallery/des/galldes-2x.png 2x"
        media="(min-width: 1280px)" />

      <source srcset="
          ./images/gallery/tab/webp/galltab-1x.webp 1x,
          ./images/gallery/tab/webp/galltab-2x.webp 2x
        " media="(min-width: 768px)" type="image/webp" />
      <source srcset="./images/gallery/tab/galltab-1x.png 1x, ./images/gallery/tab/galltab-2x.png 2x"
        media="(min-width: 768px)" />

      <source srcset="
          ./images/gallery/mob/webp/gallmob-1x.webp 1x,
          ./images/gallery/mob/webp/gallmob-2x.webp 2x
        " media="(min-width: 480px)" type="image/webp" />
      <source srcset="./images/gallery/mob/gallmob-1x.png 1x, ./images/gallery/mob/gallmob-2x.png 2x"
        media="(min-width: 480px)" />

      <img src="./images/gallery/des/galldes-1x.png" class="gallery__img" alt="photo girl and ice-cream" />
    </picture>
  </div>
</section>