<header class="header">
  <div class="container header__container">
    <nav class="site-nav">
      <a href="" class="logo link">
        <img src="./images/hero-header/hero-logo.png" alt="" width="199" height="50" />
      </a>
      <ul class="site-nav__list site-nav__list--hidden list">
        <li class="site-nav__item">
          <a class="link site-nav__link site-nav__link--current" href="">Home</a>
        </li>
        <li class="site-nav__item"><a class="link site-nav__link" href="#about-us">About us</a></li>
        <li class="site-nav__item">
          <a class="link site-nav__link" href="#how-its-made">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a class="link site-nav__link" href="#our-products">Our products</a>
        </li>
        <li class="site-nav__item"><a class="link site-nav__link" href="#contact">Contact</a></li>
      </ul>
      <div class="open-menu">
        <button class="open-menu__button" type="button" data-menu-open>
          <svg class="open-menu__icon">
            <use href="./images/sprite.svg#burger-icon"></use>
          </svg>
        </button>
        <button
          class="button button--light-theme menu__buy-now site-nav__button--hidden"
          type="button"
        >
          Buy now
          <svg class="button__arrow site-nav__button-arrow">
            <use href="./images/sprite.svg#btn-icon"></use>
          </svg>
        </button>
      </div>
      <div class="backdrop is-hidden backdrop--hidden" data-menu>
        <div class="menu">
          <button class="menu__close-button" type="button" data-menu-close>
            <svg class="menu__close-icon">
              <use href="./images/sprite.svg#close-icon"></use>
            </svg>
          </button>
          <div class="menu__button-container">
            <button class="button button--light-theme menu__buy-now" type="button">
              Buy now
              <svg class="button__arrow menu__batton-arrow">
                <use href="./images/sprite.svg#btn-icon"></use>
              </svg>
            </button>
          </div>
          <nav class="site-nav site-nav--display">
            <ul class="site-nav__list list">
              <li class="site-nav__item">
                <a class="link site-nav__link site-nav__link--current" href="">Home</a>
              </li>
              <li class="site-nav__item">
                <a class="link site-nav__link" href="">About us</a>
              </li>
              <li class="site-nav__item">
                <a class="link site-nav__link" href="">How it’s made?</a>
              </li>
              <li class="site-nav__item">
                <a class="link site-nav__link" href="">Our products</a>
              </li>
              <li class="site-nav__item">
                <a class="link site-nav__link" href="">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </nav>
  </div>
</header>
