<header class="header">
  <div class="container">
    <nav class="site-nav">
      <a href="" class="logo">
        <img src="./images/hero-header/hero-logo.png" alt="" width="199" height="50" />
      </a>
      <ul class="site-nav__list">
        <li class="site-nav__item site-nav--current"><a href="">Home</a></li>
        <li class="site-nav__item"><a href="">About us</a></li>
        <li class="site-nav__item"><a href="">How it’s made?</a></li>
        <li class="site-nav__item"><a href="">Our products</a></li>
        <li class="site-nav__item"><a href="">Contact</a></li>
      </ul>
      <div class="burger-menu">
        <button class="burger-menu__button">
          <svg class="burger-menu__icon">
            <use href="./images/sprite.svg#burger-icon"></use>
          </svg>
        </button>
      </div>
    </nav>
    <button class="button button--light-theme site-nav__button" type="button">Buy now</button>
  </div>
  <div></div>
</header>
