<header class="header" id="home">
  <div class="container header__container">
    <nav class="site-nav site-nav--padding">
      <a href="" class="logo link">
        <img src="./images/hero-header/hero-logo.png" alt="" width="199" height="50" />
      </a>
      <ul class="site-nav__list site-nav__list--hidden list">
        <li class="site-nav__item">
          <a class="link site-nav__link site-nav__link--current anchor" href="#home">Home</a>
        </li>
        <li class="site-nav__item"><a class="link site-nav__link anchor" href="#about-us">About us</a></li>
        <li class="site-nav__item">
          <a class="link site-nav__link anchor" href="#how-its-made">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a class="link site-nav__link anchor" href="#our-products">Our products</a>
        </li>
        <li class="site-nav__item"><a class="link site-nav__link anchor" href="#contacts">Contacts</a></li>
      </ul>
      <div class="open-menu">
        <button class="open-menu__button" type="button" data-menu-open>
          <svg class="open-menu__icon">
            <use href="./images/sprite.svg#burger-icon"></use>
          </svg>
        </button>

        <!-- ORDER -->
        <button
          class="button button--light-theme menu__buy-now site-nav__button--hidden"
          type="button"
          data-order-open
        >
          Buy now
          <svg class="button__arrow site-nav__button-arrow">
            <use href="./images/sprite.svg#btn-icon"></use>
          </svg>
        </button>

        <div class="backdrop is-hidden" data-order>
          <div class="order">
            <!-- ORDER CLOSE-BUTTON -->
            <button class="order__close-button" type="button" data-order-close>
              <svg class="order__close-icon" width="14" height="14">
                <use href="./images/sprite.svg#close-icon"></use>
              </svg>
            </button>

            <!-- OREDER FORM -->
            <form class="order-form" action="#" autocomplete="off">
              <div class="order-form__container order-form--left">
                <p
                  class="order-form__title order-form__title--dark animate__animated animate__rubberBand"
                >
                  Make order
                </p>
                <ul class="order-list">
                  <!-- ITEM-1 -->
                  <li class="order-list__item">
                    <div class="order-list__quantity-container">
                      <img
                        src="./images/products/mobile/products-1.png"
                        class="order-list__image"
                        alt=""
                      />
                      <div class="order-list__input-container">
                        <input class="order-list__quantity" type="text" id="product-mob-1" />
                      </div>
                    </div>
                    <div class="order-list__name-container">
                      <span class="order-list__name">Ice cream</span>
                    </div>
                    <div class="order-list__button-container">
                      <button
                        class="order-list__button order-list__button--first button--dark-theme"
                        type="button"
                        data-increment="product-mob-1"
                      >
                        <svg
                          class="order-list__icon order-list__icon--first"
                          width="10"
                          height="10"
                        >
                          <use href="./images/sprite.svg#plus"></use>
                        </svg>
                      </button>
                      <button
                        class="order-list__button button--light-theme"
                        type="button"
                        data-decrement="product-mob-1"
                      >
                        <svg class="order-list__icon" width="10" height="10">
                          <use href="./images/sprite.svg#minus"></use>
                        </svg>
                      </button>
                    </div>
                  </li>

                  <!-- ITEM-2 -->
                  <li class="order-list__item">
                    <div class="order-list__quantity-container">
                      <img
                        src="./images/products/mobile/products-2.png"
                        alt=""
                        class="order-list__image"
                      />
                      <div class="order-list__input-container">
                        <input class="order-list__quantity" type="text" id="product-mob-2" />
                      </div>
                    </div>
                    <div class="order-list__name-container">
                      <span class="order-list__name">Ice coffee</span>
                    </div>
                    <div class="order-list__button-container">
                      <button
                        class="order-list__button order-list__button--first button--dark-theme"
                        type="button"
                        data-increment="product-mob-2"
                      >
                        <svg
                          class="order-list__icon order-list__icon--first"
                          width="10"
                          height="10"
                        >
                          <use href="./images/sprite.svg#plus"></use>
                        </svg>
                      </button>
                      <button
                        class="order-list__button button--light-theme"
                        type="button"
                        data-decrement="product-mob-2"
                      >
                        <svg class="order-list__icon" width="10" height="10">
                          <use href="./images/sprite.svg#minus"></use>
                        </svg>
                      </button>
                    </div>
                  </li>

                  <!-- ITEM-3 -->
                  <li class="order-list__item">
                    <div class="order-list__quantity-container">
                      <img
                        src="./images/products/mobile/products-3.png"
                        alt=""
                        class="order-list__image"
                      />
                      <div class="order-list__input-container">
                        <input class="order-list__quantity" type="text" id="product-mob-3" />
                      </div>
                    </div>
                    <div class="order-list__name-container">
                      <span class="order-list__name">Milkshake</span>
                    </div>
                    <div class="order-list__button-container">
                      <button
                        class="order-list__button order-list__button--first button--dark-theme"
                        type="button"
                        data-increment="product-mob-3"
                      >
                        <svg
                          class="order-list__icon order-list__icon--first"
                          width="10"
                          height="10"
                        >
                          <use href="./images/sprite.svg#plus"></use>
                        </svg>
                      </button>
                      <button
                        class="order-list__button button--light-theme"
                        type="button"
                        data-decrement="product-mob-3"
                      >
                        <svg class="order-list__icon" width="10" height="10">
                          <use href="./images/sprite.svg#minus"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="order-form__container">
                <p
                  class="order-form__title order-form__title--light animate__animated animate__rubberBand"
                >
                  Details
                </p>

                <!-- INPUT -->
                <div class="form-field__wrapper" role="group" aria-label="User data field">
                  <label class="form-field"
                    >Your name
                    <span class="form-field__container">
                      <input type="text" class="form-field__input" />
                      <svg class="form-field__icon" width="15" height="15">
                        <use href="./images/sprite.svg#user"></use>
                      </svg>
                    </span>
                  </label>
                  <label class="form-field"
                    >Your address
                    <span class="form-field__container">
                      <input type="text" class="form-field__input" />
                      <svg class="form-field__icon" width="15" height="15">
                        <use href="./images/sprite.svg#home"></use>
                      </svg>
                    </span>
                  </label>
                  <div class="form-field__button-container">
                    <button class="form-field__button button button--dark-theme" type="submit">
                      Check out
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="backdrop is-hidden backdrop--hidden" data-menu>
        <div class="menu">
          <button class="menu__close-button" type="button" data-menu-close>
            <svg class="menu__close-icon">
              <use href="./images/sprite.svg#close-icon"></use>
            </svg>
          </button>
          <div class="menu__button-container">

            <!-- MENU-ORDER -->
            <button
              class="button button--light-theme menu__buy-now"
              type="button"
              data-menu-order-open
            >
              Buy now
              <svg class="button__arrow menu__batton-arrow">
                <use href="./images/sprite.svg#btn-icon"></use>
              </svg>
            </button>
            <div class="backdrop is-hidden" data-menu-order>
              <div class="order">
                <!-- ORDER CLOSE-BUTTON -->
                <button class="order__close-button" type="button" data-menu-order-close>
                  <svg class="order__close-icon" width="14" height="14">
                    <use href="./images/sprite.svg#close-icon"></use>
                  </svg>
                </button>

                <!-- OREDER FORM -->
                <form class="order-form" action="#" autocomplete="off">
                  <div class="order-form__container order-form--left">
                    <p
                      class="order-form__title order-form__title--dark animate__animated animate__rubberBand"
                    >
                      Make order
                    </p>
                    <ul class="order-list">
                      <!-- ITEM-1 -->
                      <li class="order-list__item">
                        <div class="order-list__quantity-container">
                          <img
                            src="./images/products/mobile/products-1.png"
                            class="order-list__image"
                            alt=""
                          />
                          <div class="order-list__input-container">
                            <input class="order-list__quantity" type="text" id="product-1" />
                          </div>
                        </div>
                        <div class="order-list__name-container">
                          <span class="order-list__name">Ice cream</span>
                        </div>
                        <div class="order-list__button-container">
                          <button
                            class="order-list__button order-list__button--first button--dark-theme"
                            type="button"
                            data-increment="product-1"
                          >
                            <svg
                              class="order-list__icon order-list__icon--first"
                              width="10"
                              height="10"
                            >
                              <use href="./images/sprite.svg#plus"></use>
                            </svg>
                          </button>
                          <button
                            class="order-list__button button--light-theme"
                            type="button"
                            data-decrement="product-1"
                          >
                            <svg class="order-list__icon" width="10" height="10">
                              <use href="./images/sprite.svg#minus"></use>
                            </svg>
                          </button>
                        </div>
                      </li>

                      <!-- ITEM-2 -->
                      <li class="order-list__item">
                        <div class="order-list__quantity-container">
                          <img
                            src="./images/products/mobile/products-2.png"
                            alt=""
                            class="order-list__image"
                          />
                          <div class="order-list__input-container">
                            <input class="order-list__quantity" type="text" id="product-2" />
                          </div>
                        </div>
                        <div class="order-list__name-container">
                          <span class="order-list__name">Ice coffee</span>
                        </div>
                        <div class="order-list__button-container">
                          <button
                            class="order-list__button order-list__button--first button--dark-theme"
                            type="button"
                            data-increment="product-2"
                          >
                            <svg
                              class="order-list__icon order-list__icon--first"
                              width="10"
                              height="10"
                            >
                              <use href="./images/sprite.svg#plus"></use>
                            </svg>
                          </button>
                          <button
                            class="order-list__button button--light-theme"
                            type="button"
                            data-decrement="product-2"
                          >
                            <svg class="order-list__icon" width="10" height="10">
                              <use href="./images/sprite.svg#minus"></use>
                            </svg>
                          </button>
                        </div>
                      </li>

                      <!-- ITEM-3 -->
                      <li class="order-list__item">
                        <div class="order-list__quantity-container">
                          <img
                            src="./images/products/mobile/products-3.png"
                            alt=""
                            class="order-list__image"
                          />
                          <div class="order-list__input-container">
                            <input class="order-list__quantity" type="text" id="product-3" />
                          </div>
                        </div>
                        <div class="order-list__name-container">
                          <span class="order-list__name">Milkshake</span>
                        </div>
                        <div class="order-list__button-container">
                          <button
                            class="order-list__button order-list__button--first button--dark-theme"
                            type="button"
                            data-increment="product-3"
                          >
                            <svg
                              class="order-list__icon order-list__icon--first"
                              width="10"
                              height="10"
                            >
                              <use href="./images/sprite.svg#plus"></use>
                            </svg>
                          </button>
                          <button
                            class="order-list__button button--light-theme"
                            type="button"
                            data-decrement="product-3"
                          >
                            <svg class="order-list__icon" width="10" height="10">
                              <use href="./images/sprite.svg#minus"></use>
                            </svg>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="order-form__container">
                    <p
                      class="order-form__title order-form__title--light animate__animated animate__rubberBand"
                    >
                      Details
                    </p>

                    <!-- INPUT -->
                    <div class="form-field__wrapper" role="group" aria-label="User data field">
                      <label class="form-field"
                        >Your name
                        <span class="form-field__container">
                          <input type="text" class="form-field__input" />
                          <svg class="form-field__icon" width="15" height="15">
                            <use href="./images/sprite.svg#user"></use>
                          </svg>
                        </span>
                      </label>
                      <label class="form-field"
                        >Your address
                        <span class="form-field__container">
                          <input type="text" class="form-field__input" />
                          <svg class="form-field__icon" width="15" height="15">
                            <use href="./images/sprite.svg#home"></use>
                          </svg>
                        </span>
                      </label>
                      <div class="form-field__button-container">
                        <button class="form-field__button button button--dark-theme" type="submit">
                          Check out
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <nav class="site-nav site-nav__mobile site-nav--display">
            <ul class="site-nav__list list">
              <li class="site-nav__item">
                <a class="link site-nav__link anchor" href="#home">Home</a>
              </li>
              <li class="site-nav__item">
                <a class="link site-nav__link anchor" href="#about-us">About us</a>
              </li>
              <li class="site-nav__item">
                <a class="link site-nav__link anchor" href="#how-its-made">How it’s made?</a>
              </li>
              <li class="site-nav__item">
                <a class="link site-nav__link anchor" href="#our-products">Our products</a>
              </li>
              <li class="site-nav__item">
                <a class="link site-nav__link anchor" href="#contacts">Contacts</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </nav>
  </div>
</header>
