<section class="hero" id="about-us">
  <div class="container hero--container-position">
    <div class="hero__content-container">
      <div class="hero__container-first">
        <!-- TITLE-SECTION -->
        <div class="hero__title-button">
          <h1 class="hero__title animate__animated animate__pulse">
            ice cream made with <span class="hero__title--color">passion</span>
          </h1>
          <div class="hero__button-container">
            <a
              class="button button--dark-theme hero--button hero--dark-button-size link anchor"
              href="#our-products"
            >
              Products
            </a>
            <a
              href="#how-its-made"
              class="button button--light-theme hero--button hero--light-button-size link anchor"
            >
              How it’s made?
            </a>
          </div>
        </div>

        <!-- AD -->
        <div class="hero__ad">
          <div class="hero__ad-container">
            <span class="hero__number">16</span>
            <span class="hero__cafes">cafes</span>
          </div>
          <div class="hero__ad-container">
            <span class="hero__number">23</span>
            <span class="hero__cafes">food trucks</span>
          </div>
        </div>
      </div>

      <!-- MILK -->
      <div class="hero__container-second">
        <div class="hero__milk-describe">
          <div class="hero__milk-container"></div>
          <div class="hero__describe-container">
            <p class="hero__describe">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button type="button" class="hero__describe-button">
              <svg class="hero__describe-icon" width="8" height="6">
                <use href="./images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="hero__girl-container"></div>
      </div>
    </div>
    <div class="hero__ice-cream-container">
      <div class="hero__ice-cream-background"></div>
      <picture>
        <source
          srcset="
            ./images/hero-header/hero-ice-cream-desktop.png    1x,
            ./images/hero-header/hero-ice-cream-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hero-header/hero-ice-cream-tablet.png     1x,
            ./images/hero-header/hero-ice-cream-tablet.@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero-header/hero-ice-cream-mobile.png    1x,
            ./images/hero-header/hero-ice-cream-mobile@2x.png 2x
          "
          media="(min-width: 280px)"
        />
        <img class="hero__ice-cream" src="./images/hero-header/hero-ice-cream-mobile.png" alt="" />
      </picture>
    </div>
  </div>
</section>
