<section class="hero">
  <div class="container hero--title-position">
    <div class="hero__container">
      <!-- TITLE-SECTION -->

      <div class="hero__title-container">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title--color">passion</span>
        </h1>
        <div class="hero__button-container">
          <button class="button button--dark-theme hero--button" type="button">Products</button>
          <button class="button button--light-theme hero--button" type="button">
            How it’s made?
          </button>
        </div>
      </div>

      <!-- AD -->
      <div class="hero__ad">
        <div>
          <span class="hero__cafes"><span class="hero__number">16</span> cafes</span>
        </div>
        <div>
          <span class="hero__trucks"><span class="hero__number">23</span> food trucks</span>
        </div>
      </div>
    </div>

    <!-- MILK -->
    <div class="hero__text">
      <picture>
        <source
          srcset="
            ./images/hero-header/hero-milk-desktop.png    1x,
            ./images/hero-header/hero-milk-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero-header/hero-milk-tablet.png    1x,
            ./images/hero-header/hero-milk-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img class="hero__milk" src="./images/hero-header/hero-milk-tablet.png" alt="" />
      </picture>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptatem ducimus corporis
          praesentium molestias pariatur?
        </p>
        <button type="button" class="products__link products__button">
          <svg class="productsicon" width="12" height="12">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./images/hero-header/hero-girl-desktop.png    1x,
          ./images/hero-header/hero-girl-desktop@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/hero-header/hero-girl-tablet.png    1x,
          ./images/hero-header/hero-girl-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img class="hero__girl" src="./images/hero-header/hero-girl-tablet.png" alt="" />
    </picture>
    <div class="hero__ice-cream-container">
      <div class="hero__ice-cream-background"></div>
      <picture>
        <source
          srcset="
            ./images/hero-header/hero-ice-cream-desktop.png    1x,
            ./images/hero-header/hero-ice-cream-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero-header/hero-ice-cream-tablet.png     1x,
            ./images/hero-header/hero-ice-cream-tablet.@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero-header/hero-ice-cream-mobile.png    1x,
            ./images/hero-header/hero-ice-cream-mobile@2x.png 2x
          "
          media="(min-width: 280px)"
        />
        <img class="hero__ice-cream" src="./images/hero-header/hero-ice-cream-mobile.png" alt="" />
      </picture>
    </div>
  </div>
</section>
