<section id="how-its-made" class="its-made bg-color">
  <div class="container">
    <p class="subtitle">tradition and love</p>
    <h2 class="title title-padding">how it’s made?</h2>
    <a href="#home" class="arrow-up anchor">
      <svg class="arrow-up-icon">
        <use href="./images/sprite.svg#arrow-up"></use>
      </svg>
    </a>
    <div class="its-made__box">
      <picture>
        <source
          srcset="
            ./images/its_made/des/webp/cowdes-1x.webp 1x,
            ./images/its_made/des/webp/cowdes-2x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/its_made/des/cowdes-1x-min.png 1x,
            ./images/its_made/des/cowdes-2x-min.png 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./images/its_made/tab/webp/cowtab-1x.webp 1x,
            ./images/its_made/tab/webp/cowtab-2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/its_made/tab/cowtab-1x-min.png 1x,
            ./images/its_made/tab/cowtab-2x-min.png 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./images/its_made/mob/webp/cowmob-1x.webp 1x,
            ./images/its_made/mob/webp/cowmob-2x.webp 2x
          "
          media="(min-width: 480px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/its_made/mob/cowmob-1x-min.png 1x,
            ./images/its_made/mob/cowmob-2x-min.png 2x
          "
          media="(min-width: 480px)"
        />

        <img
          src="./images/its_made/des/cowdes-1x-min.png"
          class="its-made__box-img"
          alt="cow and ice-cream"
        />
      </picture>
      <div class="its-made__sub-box">
        <p class="its-made__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="its-made__text2">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="its-made__text2">Aliquam erat volutpat. Aenean accumsan.</p>
        <div class="btn__box">
          <button type="button" class="its-made__link btn" data-full-descrip-open>Read more</button>
        </div>
        <div class="modal is-hidden" data-full-descrip>
          <div class="full-descrip">
            <button class="full-descrip__close-button" type="button" data-full-descrip-close>
              <svg class="full-descrip__close-icon">
                <use href="./images/sprite.svg#close-icon"></use>
              </svg>
            </button>
            <ul class="full-descript-item">
              <li class="full-descript-list">
                <p class="full-descript__subtitle">first subtitle</p>
                <h3 class="full-descript__title">first product description</h3>
                <div class="full-descript-box">
                  <img class="full-descript-img" src="./images/its_made/full-desc-ice-cream.png" alt="ice-cream">
                  <p class="full-descript-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam pariatur vitae et itaque corrupti in eos voluptatum dicta cupiditate quos, laboriosam obcaecati, a reiciendis, similique rem minus dolorem distinctio explicabo perspiciatis consequuntur perferendis ad sapiente? Sint dolorem ipsam doloremque nisi nulla quisquam ratione! Dignissimos nisi aliquid quam tenetur quia laudantium!</p>
                </div>
              </li>
              <li class="full-descript-list">
                <p class="full-descript__subtitle">first subtitle</p>
                <h3 class="full-descript__title">first product description</h3>
                <div class="full-descript-box">
                  <img class="full-descript-img" src="./images/its_made/full-desc-ice-cream.png" alt="ice-cream">
                  <p class="full-descript-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam pariatur vitae et itaque corrupti in eos voluptatum dicta cupiditate quos, laboriosam obcaecati, a reiciendis, similique rem minus dolorem distinctio explicabo perspiciatis consequuntur perferendis ad sapiente? Sint dolorem ipsam doloremque nisi nulla quisquam ratione! Dignissimos nisi aliquid quam tenetur quia laudantium!</p>
                </div>
              </li>
           </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
