<section class="its-made">
    <div class="container">
        <p class="its-made__title">tradition and love </p>
        <p class="its-made__subtitle">how it’s made?</p>
        <div class="its-made__box">
            <img src="./images/its_made/cow.jpg" class="its-made__box-img" alt="cow and ice-cream" width="516">
            <div class="its-made__sub-box">
                <p class="its-made__box__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="its-made__box__text2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.</p>
            </div>
        </div>
        <a href="" class="its-made__link">Read more</a>
        <ul class="its-made__item">
            <li class="its-made__list">
                <img src="./images/its_made/icon1.png" class="its-made__list__img" alt="bucket of milk">
                <p class="its-made__list__title">721</p>
                <p class="its-made__list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="its-made__list">
                <img src="./images/its_made/icon2.png" class="its-made__list__img" alt="bucket of apple">
                <p class="its-made__list__title">16kg</p>
                <p class="its-made__list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="its-made__list">
                <img src="./images/its_made/icon3.png" class="its-made__list__img" alt="ice-cream heart">
                <p class="its-made__list__title">84</p>
                <p class="its-made__list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
        <img src="./images/its_made/home-pic5-1x.png" class="its-made__img" alt="photo girl and ice-cream" width="1280">
    </div>
</section>