<section>
    <h2 class="its-made__title">tradition and love </h2>
    <p class="its-made__text">how it’s made?</p>
    <div class="its-made__box">
        <img src="" class="its-made__box-img" alt="cow and ice-cream" width="516">
        <p class="its-made__box__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
        <p class="its-made__box__text2"></p>
        <a href="" class="its-made__link">Read more</a>
    </div>
    <ul class="its-made__item">
        <li class="its-made__list">
            <h3 class="its-made__list__title">721</h3>
            <p class="its-made__list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="its-made__list">
            <h3 class="its-made__list__title">16kg</h3>
            <p class="its-made__list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="its-made__list">
            <h3 class="its-made__list__title">84</h3>
            <p class="its-made__list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
    <img src="" class="its-made__img" alt="photo girl and ice-cream" width="1280">
</section>