<section class="products products__section">
  <div class="container">
    <p class="products__subtitle subtitle">100% natural</p>
    <h2 class="products__title title">Products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <div class="products__background pink"></div>
        <img src="/images/products/products-1.png" class="products__image" alt="ice-cream" />
        <h3 class="products__name">ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button button-pink">
          <svg class="products__icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <div class="products__background beige"></div>
        <img src="/images/products/products-2.png" class="products__image" alt="ice-cream" />

        <h3 class="products__name">ice coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button button-beige">
          <svg class="products__icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <div class="products__background green"></div>
        <img src="/images/products/products-3.png" class="products__image" alt="ice-cream" />
        <h3 class="products__name">milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button button-green">
          <svg class="products__icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
