<section class="products products__section" id="our-products">
  <div class="container">
    <p class="products__subtitle subtitle">100% natural</p>
    <h2 class="products__title title">Products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <div class="products__background pink">
          <div class="products__overlay overflow-pink">
            <p class="products__overlay-header">Try new tastes!</p>
            <ul class="products__overlay-list list">
              <li class="products__overlay-item">
                <p class="products__overlay-name">Nuts</p>
                <div class="products__overlay-wrapper">
                  <div class="products__overlay-image1"></div>
                </div>
              </li>
              <li class="products__overlay-item">
                <p class="products__overlay-name">Fruits</p>
                <div class="products__overlay-wrapper">
                  <div class="products__overlay-image2"></div>
                </div>
              </li>
              <li class="products__overlay-item">
                <p class="products__overlay-name">Chocolate</p>
                <div class="products__overlay-wrapper">
                  <div class="products__overlay-image3"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <picture>
          <source
            srcset="
              ./images/products/desktop/products-1.webp    1x,
              ./images/products/desktop/products-1@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/desktop/products-1.png    1x,
              ./images/products/desktop/products-1@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/products/tablet/products-1.webp    1x,
              ./images/products/tablet/products-1@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/tablet/products-1.png    1x,
              ./images/products/tablet/products-1@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products/mobile/products-1.webp    1x,
              ./images/products/mobile/products-1@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/mobile/products-1.png    1x,
              ./images/products/mobile/products-1@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="products__image"
            src="./images/products/mobile/products-1.png"
            alt="ice-cream"
          />
        </picture>
        <h3 class="products__name">ice cream</h3>
        <p class="products__text text-none-pink">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button button-pink">
          <svg class="products__icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <div class="products__background beige">
          <div class="products__overlay overflow-beige">
            <p class="products__overlay-header">Try new tastes!</p>
            <ul class="products__overlay-list list">
              <li class="products__overlay-item">
                <p class="products__overlay-name">Nuts</p>
                <div class="products__overlay-wrapper">
                  <div class="products__overlay-image1"></div>
                </div>
              </li>
              <li class="products__overlay-item">
                <p class="products__overlay-name">Fruits</p>
                <div class="products__overlay-wrapper">
                  <div class="products__overlay-image2"></div>
                </div>
              </li>
              <li class="products__overlay-item">
                <p class="products__overlay-name">Chocolate</p>
                <div class="products__overlay-wrapper">
                  <div class="products__overlay-image3"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <picture>
          <source
            srcset="
              ./images/products/desktop/products-2.webp    1x,
              ./images/products/desktop/products-2@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/desktop/products-2.png    1x,
              ./images/products/desktop/products-2@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/products/tablet/products-2.webp    1x,
              ./images/products/tablet/products-2@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/tablet/products-2.png    1x,
              ./images/products/tablet/products-2@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products/mobile/products-2.webp    1x,
              ./images/products/mobile/products-2@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/mobile/products-2.png    1x,
              ./images/products/mobile/products-2@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="products__image"
            src="./images/products/mobile/products-2.png"
            alt="ice-cream"
          />
        </picture>
        <h3 class="products__name">ice coffee</h3>
        <p class="products__text text-none-beige">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button button-beige">
          <svg class="products__icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <div class="products__background green">
          <div class="products__overlay overflow-green">
            <p class="products__overlay-header">Try new tastes!</p>
            <ul class="products__overlay-list list">
              <li class="products__overlay-item">
                <p class="products__overlay-name">Nuts</p>
                <div class="products__overlay-wrapper">
                  <div class="products__overlay-image1"></div>
                </div>
              </li>
              <li class="products__overlay-item">
                <p class="products__overlay-name">Fruits</p>
                <div class="products__overlay-wrapper">
                  <div class="products__overlay-image2"></div>
                </div>
              </li>
              <li class="products__overlay-item">
                <p class="products__overlay-name">Chocolate</p>
                <div class="products__overlay-wrapper">
                  <div class="products__overlay-image3"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <picture>
          <source
            srcset="
              ./images/products/desktop/products-3.webp    1x,
              ./images/products/desktop/products-3@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/desktop/products-3.png    1x,
              ./images/products/desktop/products-3@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/products/tablet/products-3.webp    1x,
              ./images/products/tablet/products-3@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/tablet/products-3.png    1x,
              ./images/products/tablet/products-3@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products/mobile/products-3.webp    1x,
              ./images/products/mobile/products-3@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/mobile/products-3.png    1x,
              ./images/products/mobile/products-3@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="products__image"
            src="./images/products/mobile/products-3.png"
            alt="ice-cream"
          />
        </picture>
        <h3 class="products__name">milkshakes</h3>
        <p class="products__text text-none-green">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button button-green">
          <svg class="products__icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
