.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  &--dark-theme {
    background-color: var(--accent-color);
    color: var(--white);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--white);
      color: var(--accent-color);
    }
  }

  &--light-theme {
    background-color: var(--white);
    color: var(--accent-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--white);
    }
  }

  &__arrow {
    width: 5px;
    height: 10px;
    margin-left: 30px;
  }
}

.btn {
  width: 176px;
  height: 44px;
  font-family: DM Sans, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  background: var(--white);
  color: var(--accent-color);
  border-radius: 22px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &::after {
    content: '';
    width: 8px;
    height: 10px;
  }

  &::after {
    margin-left: 5px;
    background-image: url(../images/its_made/arrow-c.svg);
  }

  &:hover,
  &:focus {
    color: var(--white);
    background: var(--accent-color);

    &::after {
      content: '';
      width: 8px;
      height: 10px;
    }

    &::after {
      background-image: url(../images/its_made/arrow-w.svg);
    }
  }

  margin-right: 51px;
}
