.order {
  position: absolute;

  &__close-button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--accent-color);
    border: 0;
    cursor: pointer;
  }

  @media screen and (max-width: 767px) {
    width: 100vw;
    height: 100vh;
    border-radius: 8px;
    overflow-y: scroll;

    &__close-button {
      top: 10px;
      right: 10px;
    }
  }

  @media screen and (min-width: 768px) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
  }
}

.order-form {
  &__container {
    padding: 30px 20px;
    background-color: var(--white);
    text-align: center;
  }

  &__title {
    margin-bottom: 30px;
    color: var(--accent-color);
    font-family: Titan One, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__title--dark {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: flex;

    &__container {
      width: 50%;
      border-radius: 0 24px 24px 0;
    }

    &__title {
      font-size: 35px;
      line-height: 1.13;
    }

    &--left {
      background-color: var(--products-color-pink);
      border-radius: 24px 0 0 24px;
    }
  }

  @media screen and (min-width: 1280px) {
    &__title {
      font-size: 38px;
      line-height: 1.15;
    }
  }
}

.order-list {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & + & {
      margin-top: 20px;
    }
  }

  &__quantity-container {
    position: relative;
  }

  &__image {
    width: 50px;
    height: auto;
  }

  &__quantity {
    text-align: center;
    vertical-align: middle;
    color: var(--white);
    font-weight: 700;
    font-size: 12px;
    background-color: inherit;
    position: absolute;
    top: -4px;
    right: -4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    background-color: var(--accent-color);
    pointer-events: none;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
  }

  &__button-container {
    display: flex;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;

    & + & {
      margin-left: 5px;
    }
  }

  &__icon {
    fill: var(--accent-color);
  }

  &__icon--first {
    fill: var(--white);
  }

  @media screen and (max-width: 767px) {
    &__name {
      color: var(--accent-color);
    }

    &__button {
      border: 1px solid var(--products-color-pink);
    }

    &__button--first {
      border: none;
    }
  }
}

.form-field {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--accent-color);

  &__container {
    position: relative;
  }

  &__input {
    width: 205px;
    height: 36px;
    margin: 10px 0;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 28px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.1;

    border: 2px solid var(--products-color-pink);
    border-radius: 18px;

    outline: none;
  }

  &__icon {
    position: absolute;
    top: 4px;
    left: 10px;
    fill: var(--accent-color);
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 205px;
    height: 36px;
    border-radius: 18px;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;

    &__icon {
      display: none;
    }
  }

  @media screen and (min-width: 1280px) {
    &__wrapper {
      text-align: right;
    }
  }
}
