.order {
  position: absolute;

  @media screen and (min-width: 768px) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.order-form {
  &__container {
    background-color: #000;
  }

  &__title {
    color: var(--white);
    font-family: Titan One, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 1.15px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__title--dark {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: flex;

    &__title {
      font-size: 30px;
      line-height: 1.13;
    }

    &--left {
      background-color: #ffb8ca;
    }
  }

  @media screen and (min-width: 1280px) {
    &__title {
      font-size: 38px;
      line-height: 1.15px;
    }
  }
}

.order-list {
  &__item {
    display: flex;
  }

  //   &__quantity-container {
  //     position: relative;
  //   }

  &__image {
    width: 100px;
    height: auto;
  }

  //   &__quantity {
  // background-color: inherit;
  //     position: absolute;
  //     width: 10px;
  //     height: 10px;
  //     border-radius: 50%;
  //   }
}

// .form-field {
//   &__input {
//     background-color: inherit;
//   }
// }
