.social-list {
  display: flex;
  margin-bottom: 46px;
  &__link {
    cursor: pointer;
  }
  &__items {
    display: flex;
  }
  &__items:not(:last-child) {
    margin-right: 28px;
  }
  &__icon {
    width: 34px;
    height: 34px;
    fill: #fea5bb;
  }
  &__icon:hover {
    fill: var(--accent-color);
  }
  &__link:focus &__icon {
    fill: var(--accent-color);
  }
}
