.advantages__item {
    @media screen and (min-width: 768px) {
        display: flex;                     
    }

    @media screen and (max-width: 1279px) {        
        padding-top: 39px;
    }
}

.advantages__title{
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    // text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.14;
    }

    @media screen and (min-width: 1280px) {
        font-size: 58px;
    } 
}

.icon_box1 {

    &::before{ 
        display: block;       
        content: url('../images/its_made/icon1.png');
        width: 33px;
        height: 50px;
        margin-bottom: 30px;      
    }
}

.icon_box2 {    

    &::before{     
        display: block;   
        content: url('../images/its_made/icon2.png');
        width: 33px;
        height: 50px;
        margin-bottom: 30px;      
    }
}

.icon_box3 {    

    &::before{   
        display: block;     
        content: url('../images/its_made/icon3.png');
        width: 33px;
        height: 50px;
        margin-bottom: 30px;      
    }
}

.advantages__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.666;
    color: var(--black);

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.7;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.75;
    }
}

.advantages_list {  

    @media screen and (min-width: 768px) {
           
        margin-left: 36px;             
        box-sizing: border-box;
        }

    @media screen and (min-width: 1280px) {
           
        margin-left: 30px;             
        box-sizing: border-box;
        }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {        
            margin-bottom: 38px;
        }
    }
}

.section_title {
    display: none;
}