.customer-reviews__section {
padding-top: 80px;
padding-bottom: 86px;
}
.container-wrap__img {
    margin-right: auto;
    margin-left: auto;
  }

.container-wrap__text-reviews {
  font-weight: 500;
  line-height: 1.86;
  text-align: center;

  color: var(--black);
}

.container-wrap__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;

  color: var(--black);
}
