// .gallery {    

//     @media screen and (min-width: 768px) {
//         padding-top: 140px;
//         padding-bottom: 121px;  
//     }

//     @media screen and (min-width: 1280px) {
//         padding-top: 139px;
//         padding-bottom: 123px;  
//     }
// }

.gallery__img {
    width: 100%;
    max-width: 364px;

    @media screen and (min-width: 768px) {
        max-width: 786px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}