.gallery__img {
  width: 100%;
  max-width: 364px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    max-width: 786px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.line-gradient {
  background: 
  linear-gradient(var(--secondary-background-color) 40%, var(--white) 40%);
}
