.gallery__img {
    width: 100%;
    max-width: 364px;

    @media screen and (min-width: 768px) {
        max-width: 786px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}

.line-gradient {
    background-image: 
    linear-gradient(
        to bottom,
        rgb(255, 245, 246) 20%,
        rgb(229, 229, 229) 80%
        );
}