.header {
  position: fixed;

  width: 100%;

  z-index: 9;

  &__container {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    & + & {
      margin-top: 23px;
    }
  }

  &__link {
    display: inline-block;
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .site-nav__item:hover &,
    .site-nav__item:focus & {
      color: var(--accent-color);
    }
  }

  &__link--current {
    color: var(--accent-color);
  }

  &__button-arrow {
    margin-left: 8px;
  }

  @media screen and (max-width: 1279px) {
    &__list--hidden {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    &__button--hidden {
      display: none;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    padding-top: 38px;
    justify-content: space-between;
  }

  &__button {
    flex-basis: calc(100% / 4);
  }

  @media screen and (min-width: 768px) {
    &__button--hidden {
      width: 160px;
      margin-left: 30px;
      margin-bottom: 0;
    }
  }
}
