.hero {
  position: relative;
  padding-top: 192px;
  height: 498px;

  background-color: var(--products-color-pink);

  overflow: hidden;

  &__container {
    // position: absolute;
    display: flex;
    justify-content: space-between;

    // z-index: 8;
  }

  // &--title-position {
  //   position: relative;
  // }

  &__title-container {
    width: 230px;
  }

  &__title {
    display: inline-block;
    margin-bottom: 25px;

    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;
  }

  &__title--color {
    font-size: 48px;
    line-height: 0.95;

    color: var(--accent-color);
  }

  &__button-container {
    display: flex;
  }

  &--button {
    padding: 10px 15px;

    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.3px;

    border-radius: 30px;

    & + & {
      margin-left: 8px;
    }
  }

  // &__ice-cream-container {
  //   position: absolute;
  //   top: 0px;
  //   right: -95px;
  //   transform: translateY(-102px);
  // }

  &__ice-cream-background {
    width: 346px;
    height: 344px;

    background-color: var(--title-text-color);

    border-radius: 50%;
  }

  // &__ice-cream {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   transform: translate(50%, 10px);
  // }

  @media screen and (max-width: 767px) {
    &__ad,
    &__text,
    &__girl {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    height: 396px;

    &__ad {
      display: flex;
      flex-direction: column;
    }

    &__ice-cream-container {
      top: 50px;
      right: 108px;
    }

    &__ice-cream-background {
      width: 324px;
      height: 322px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 102px;
  }
}

.products__button {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
