.its-made {
    background: #FFF5F6;
}

.its-made__sub-box {
    padding-right: 49px;
    padding-left: 51px;
}

.its-made__title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 15px;
}

.its-made__subtitle {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 15px;
}

.its-made__box-img{
    margin-bottom: 46px;
}

.its-made__box__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: var(--black);
    margin-bottom: 46px;
}

.its-made__box__text2 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: var(--grey);
    margin-bottom: 46px;
}

.descrp__img {
    width: 33px;
    height: 50px;
    margin-bottom: 16px;
}

.descrp__title{
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 16px;
}

.descrp__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.666;
    color: var(--black);
}
